@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Roboto:300');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif
}

/* GENERAL HELPER CLASSES +++++++++++++++++*/
.important-text {
    font-weight: bold;
    font-style: italic;
}

.center-wrapper {
    position: relative;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

/* BASIC_PAGE +++++++++++++++++++++++++++++*/
section.basic-page {
    margin: 1em 5vw;
}

/* NAVBAR +++++++++++++++++++++++++++++++++*/
nav {
    padding: 20px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    position: relative;
    background-color: #0056A5;
}

nav.inverted {
    background-color: #fff;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav .group {
    display: inline-block;
}

nav .group.right {
    float: right;
}

nav ul li {
    display: inline-block;
}

nav .group.right li {
    margin-left: 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav.inverted a {
    color: #0056A5;
}

nav .logo {
    max-height: 3em;
}

/* HERO ++++++++++++++++++++++++++++++++++++*/
.hero {
    background: -webkit-linear-gradient(
            rgba(19, 147, 255, 0.45),
            rgba(19, 147, 255, 0.45)
    ),
    url('../images/hero.jpg');
    background: linear-gradient(
            rgba(19, 147, 255, 0.45),
            rgba(19, 147, 255, 0.45)
    ),
    url('../images/hero.jpg');
    height: 75vh;
    background-repeat: round;
    color: white;
}

.hero .hero-center {
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.hero h1 {
    font-size: 3em;
    text-align: center;
}

.hero a {
    color: white;
    text-align: center;
    display: block;
}

.hero a, .secondary-cards span {
    font-size: 1.3em;
}

/* SECONDRAY CARDS +++++++++++++++++++++++++*/
.secondary-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.secondary-cards div {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 10rem;
    background-size: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.secondary-cards div:hover {
    cursor: pointer;
}

.secondary-cards div span {
    text-decoration: underline;
    color: white;
}

.secondary-cards .infos {
    background-image: -webkit-linear-gradient(
            rgba(16, 146, 28, 0.6),
            rgba(16, 146, 28, 0.6)
    ), url('../images/mock_hero.jpg');
    background-image: linear-gradient(
            rgba(16, 146, 28, 0.6),
            rgba(16, 146, 28, 0.6)
    ), url('../images/mock_hero.jpg');
}

.secondary-cards .blog {
    background-image: -webkit-linear-gradient(
            rgba(243, 138, 0, 0.6),
            rgba(243, 138, 0, 0.6)
    ), url('../images/mock_hero.jpg');
    background-image: linear-gradient(
            rgba(243, 138, 0, 0.6),
            rgba(243, 138, 0, 0.6)
    ), url('../images/mock_hero.jpg');
}


/* BLOG ++++++++++++++++++++++++++++++++++++*/
article.blog-post {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.post_info a {
    color: black
}

.details {
    font-size: .9em;
    opacity: .8;
}

@media screen and (min-width: 600px) {
    article.blog-post {
        width: 85%;
    }
}

@media screen and (min-width: 900px) {
    article.blog-post {
        width: 70%;
    }
}

@media screen and (min-width: 1500px) {
    article.blog-post {
        width: 50%;
    }
}

/* ABOUT +++++++++++++++++++++++++++++++++++*/
ul.member-list {
    list-style: none;
    padding: 0;
}

ul.member-list li {
    position: relative;
    margin: 15px 0;
}

ul.member-list li:after {
    clear: both;
    display: table;
    content: '';
}

ul.member-list li .description {
    display: inline-block;
    float: left;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

ul.member-list li .description span {
    display: block;
}

ul.member-list li .description span.name {
    font-weight: bold;
}

ul.member-list li .description span.title {
    font-style: italic;
}

ul.member-list li .description span.kontakt a {
    color: black;
}

ul.member-list li .image {
    display: inline-block;
    margin-right: 20px;
    float: left;
}

ul.member-list li img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
}

/* FOOTER ++++++++++++++++++++++++++++++++++*/
footer {
    margin: 15px 0;
    text-align: center;
}

footer a, footer a:hover {
    color: grey;
}

footer hr {
    width: 80%;
    opacity: 0.6;
    color: #000;
    border: 1px solid rgba(0, 0, 0, 0.3)
}

/* MEDIA +++++++++++++++++++++++++++++++++++*/

@media (max-width: 500px) {
    .hero h1 {
        font-size: 2em;
    }

    .secondary-cards span {
        font-size: 1.3em;
    }
}
