<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">

    <!-- Just IE? -->
    <!--[if IE]><link rel="shortcut icon" href="/images/logo/favicon.ico"><![endif]-->

    <!-- Everybody else? -->
    <link rel="icon" href="/images/logo/favicon.png">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "SV am CJD Rostock" %></title>

    <%= stylesheet_link_tag "normalize", "all" %>
    <%= javascript_include_tag  "all" %>
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>
    <%= partial "footer" %>
  </body> 
</html>
