<h1>Beschlüsse und Protokolle</h1>

<h2>Protokolle</h2>
<ul>
  <li>
    <%= link_to 'Klassensprecherkonferenz der Oberstufe vom 19. Juni 2017', 'https://public.3.basecamp.com/p/4DKZ94PE3tVsf2QfVtR7SLvC' %>
  </li>
  <li>
    <%= link_to 'Treffen vom 16. Juli 2017', 'https://public.3.basecamp.com/p/LgLn135n3Mv8jp6zP4DDaBf3' %>
  </li>
  <li>
    <%= link_to 'Treffen vom 30. Mai 2017', 'https://public.3.basecamp.com/p/akHHQZmZKF6Z3p7yfGtwpDv8' %>
  </li>
  <li>
    <%= link_to 'Treffen vom 5. Mai 2017', 'https://public.3.basecamp.com/p/gimkvgETkkDnMuuXuPa4n3Zt' %>
  </li>
</ul>

<h2>Beschlüsse</h2>

<ul>
    <li><%= link_to '2017/18-02', 'https://public.3.basecamp.com/p/1bkJn5AwbyMqLqFFkoTDv8EM' %></li>
    <li><%= link_to '2017/18-01', 'https://public.3.basecamp.com/p/sDkMT9Dx9wmtiUzrZdNXtKer' %></li>
    <li><%= link_to '2016/17-26', 'https://public.3.basecamp.com/p/pJPQ8YJTwbRkLsVDa9K4oCt8' %></li>
    <li><%= link_to '2016/17-25', 'https://public.3.basecamp.com/p/9i2YLX6fzPoVas2wgBiMVTaq' %></li>
    <li><%= link_to '2016/17-24', 'https://public.3.basecamp.com/p/Dr1rFuit6wVuNYucwFE6bEbe' %></li>
    <li><%= link_to '2016/17-23', 'https://public.3.basecamp.com/p/UmUo4icU4T8EWtFWE4X1ae2E' %></li>
    <li><%= link_to '2016/17-22', 'https://public.3.basecamp.com/p/e8bYqYJBkNLFaRe44HNx17gC' %></li>
    <li><%= link_to '2016/17-21', 'https://public.3.basecamp.com/p/GL9exSioE1Scxig2zKxSdZL9' %></li>
    <li><%= link_to '2016/17-20', 'https://public.3.basecamp.com/p/8woNS1KGRQRyyKkv9n1cb1BM' %></li>
    <li><%= link_to '2016/17-19', './beschluesse/2016-17-19.pdf' %></li>
    <li><%= link_to '2016/17-18', './beschluesse/2016-17-18.pdf' %></li>
    <li><%= link_to '2016/17-17', './beschluesse/2016-17-17.pdf' %></li>
    <li><%= link_to '2016/17-16', './beschluesse/2016-17-16.pdf' %></li>
    <li><%= link_to '2016/17-15', './beschluesse/2016-17-15.pdf' %></li>
    <li><%= link_to '2016/17-14', './beschluesse/2016-17-14.pdf' %></li>
    <li><%= link_to '2016/17-13', './beschluesse/2016-17-13.pdf' %></li>
    <li><%= link_to '2016/17-12', './beschluesse/2016-17-12.pdf' %></li>
    <li><%= link_to '2016/17-11', './beschluesse/2016-17-11.pdf' %></li>
    <li><%= link_to '2016/17-10', 'https://public.3.basecamp.com/p/vEUk5QWe1QX1wtEqqtQnCCYN' %></li>
    <li><%= link_to '2016/17-9', './beschluesse/2016-17-9.pdf' %></li>
    <li><%= link_to '2016/17-8', './beschluesse/2016-17-8.pdf' %></li>
    <li><%= link_to '2016/17-7', './beschluesse/2016-17-7.pdf' %></li>
    <li><%= link_to '2016/17-6', './beschluesse/2016-17-6.pdf' %></li>
    <li><%= link_to '2016/17-5', './beschluesse/2016-17-5.pdf' %></li>
    <li><%= link_to '2016/17-4', './beschluesse/2016-17-4.pdf' %></li>
    <li><%= link_to '2016/17-3', './beschluesse/2016-17-3.pdf' %></li>
    <li><%= link_to '2016/17-2', './beschluesse/2016-17-2.pdf' %></li>
    <li><%= link_to '2016/17-1', './beschluesse/2016-17-1.pdf'%></li>
</ul>

