<h1>Moodle</h1>
<p>
    Wie leider sehr wenige von euch wissen, verfügt die Schule über ein Moodle. Was das genau ist, wie ihr es benutzen könnt und warum ihr es solltet versuchen wir im Folgenden zu erklären.
</p>
<h2>Wo finde ich das Moodlesystem</h2>
<p>
    Unter <a target="_blank" href="https://moodle.cjd-rostock.de/">moodle.cjd-rostock.de</a>
</p>
<h2>Was ist ein Moodle?</h2>
<p>
    Moodle bezeichnet sich selbst als "eine Software für Lernplattformen im Internet". Das heißt, dass es z. B. zur Kursverwaltung genutzt werden kann. Lehrer können dort beispielsweise Lerninhalte mit Schülern teilen.
</p>
<h2>Wieso sollte ich es nutzen?</h2>
<p>
    Ein Moodle ist ein großartiger Weg um digitale Lerninhalte zu nutzen. So hat Herr Hollmann dort bereits eine Menge sehr guter Inhalte zu den Themen des Physikunterrichts aus Sekundarstufe I und II eingestellt und arbeitet weiter daran.

    Dies ist außerdem unglaublich nützlich, wenn man längere Zeit fehlt, sei es wegen Krankheit oder z. B. Sport. Dadurch, dass man immer und überall Zugang zu unterrichtsrelevanten Lerninhalten hat, ist das Nacharbeiten viel einfacher.
</p>
<h2>Was könnte noch besser laufen?</h2>
<p>
    Leider nutzen bisher kaum Lehrer das Moodle. Und das obwohl sehr viele von ihnen Inhalte bereits besitzen, die großartig für das Moodle geeignet wären und von denen alle profitieren könnten.
</p>
<h2>Wie bekomme ich Zugang?</h2>
<p>
    Jeder Schüler hat einen Moodle-Zugang. Diese sieht wie folgt aus:
    <ul>
        <li>Nutzername: Nachname in klein Buchstaben</li>
        <li>Passwort: Moodle#1</li>
    </ul>
    Umlaute müssen als zwei Zeichen angegeben werden, z. B. <i>mueller</i>. Wenn es mehrere Schüler mit dem gleichen Nachnamen, wie Geschwister, gibt, dann hat einer den Nachnamen mit angehängter 2 als Nutzername, also z. B. <i>mueller2</i>.
</p>
<p>
    Wenn ihr Probleme mit der Anmeldung habt, wendet ihr euch bitte an Herrn Hollmann.
</p>
