<% blog.articles.each do |article| %>
  <div class="post_info">

    <h2>
        <%= link_to article.title, article.url + "index.html", :relative => true%>
    </h2>
    <span>
      <%= article.data.summary %>
    </span>
  </div>
<% end %>
