<h1>Über uns</h1>
<section>
  <h2>Das tun wir</h2>
  <p class="important-text">
    Die Schülervertretung agiert als Sprachrohr und Interessenvertreter der Schüler.
  </p>
  <p>
    Schule ist schwer. Das wissen wir alle. Und sie ist ein komplexes Zusammenspiel vieler verschiedener Akteure, wie
    z.B. Schüler, Lehrer und Eltern, und damit das reibungslos klappt braucht es viel Organisation. Auch auf Seiten der
    Schüler. Die Schülervertretung ist eine gewählte Vereinigung von Schülern aller Altersklassen, die es sich zum Ziel
    gemacht haben aktiv bei der Schulgestaltung mitzuwirken.
  </p>
</section>
<section>
  <h2>Das sind wir</h2>
  <p>Die Schülervertretung besteht aus einem Schülersprecher, einem Vorsitzenden, einem Internatsvertreter
    und je 3 Schülervertetern aus den Klassenstufen, 5 bis 7, 8 bis 10 und 11 bis 13.</p>
  <ul class="member-list">
    <li>
      <div class="image">
        <%= image_tag 'mugshots/ben_bals.jpg' %>
      </div>
      <div class="description">
        <span class="name">Ben J. Bals</span>
        <span class="title">Schülersprecher, 12b</span>
        <span class="kontakt">
          <a href="mailto:ben.sv-rostock@cjd-nord.de">
            ben.sv-rostock@cjd-nord.de
          </a>
        </span>
      </div>
    </li>
    <li>
      <div class="image">
        <%= image_tag 'mugshots/erik_jenss.jpg' %>
      </div>
      <div class="description">
        <span class="name">Kay Erik Jenß</span>
        <span class="title">Vorsitzender, Vertreter der Klassen 11 bis 13, 12b</span>
      </div>
    </li>
    <li>
      <div class="image">
        <%= image_tag 'mugshots/wencke_kretzschmar.gif' %>
      </div>
      <div class="description">
        <span class="name">Wencke Kretzschmar</span>
        <span class="title">Stellvertretende Schülersprecherin, 12b</span>
        <span class="kontakt">
          <a href="mailto:wencke.sv-rostock@cjd-nord.de">
            wencke.sv-rostock@cjd-nord.de
          </a>
        </span>
      </div>
    </li>
    <li>
      <div class="image">
        <%= image_tag 'mugshots/laura_marie_schulze.gif' %>
      </div>
      <div class="description">
        <span class="name">Laura M. Schulze</span>
        <span class="title">Vertreterin des Internats, 12b</span>
      </div>
    </li>
    <li>
      <div class="image">
        <%= image_tag 'mugshots/sebastian_schroeder.jpg' %>
      </div>
      <div class="description">
        <span class="name">Sebastian Schröder</span>
        <span class="title">Schülervertreter, 12c</span>
      </div>
    </li>
    <li>
      <div class="image">
        <%= image_tag 'mugshots/bjarne_wilhelm.gif' %>
      </div>
      <div class="description">
        <span class="name">Bjarne C. Wilhelm</span>
        <span class="title">Schülervertreter, 12d</span>
      </div>
    </li>
    <li>
      <div class="image">
        <%= image_tag 'mugshots/jasper_wittstock.png' %>
      </div>
      <div class="description">
        <span class="name">Jasper Wittstock</span>
        <span class="title">Schülervertreter, 11b</span>
      </div>
    </li>
    <li>
      <div class="image">
        <%= image_tag 'mugshots/clara_poppe.jpg' %>
      </div>
      <div class="description">
        <span class="name">Clara Poppe</span>
        <span class="title">Schülervertreterin, 10d</span>
      </div>
    </li>
    <li>
      <div class="image">
        <%= image_tag 'mugshots/maxim_borcherding.jpg' %>
      </div>
      <div class="description">
        <span class="name">Maxim Borcherding</span>
        <span class="title">Schülervertreter, 10b</span>
      </div>
    </li>
    <li>
      <div class="image">
        <%= image_tag 'mugshots/lars_jenss.jpg' %>
      </div>
      <div class="description">
        <span class="name">Lars Jenß</span>
        <span class="title">Schülervertreter, 8b</span>
      </div>
    </li>
    <li>
      <div class="image">
        <%= image_tag 'mugshots/hannah_hoerning.jpg' %>
      </div>
      <div class="description">
        <span class="name">Hannah Hörning</span>
        <span class="title">Schülervertreterin, 7b</span>
      </div>
    </li>
    <li>
      <div class="image">
        <%= image_tag 'mugshots/wilem_schmitter.jpg' %>
      </div>
      <div class="description">
        <span class="name">Wilem Schmitter</span>
        <span class="title">Schülervertreter, 7b</span>
      </div>
    </li>
    <li>
      <div class="image">
        <%= image_tag 'mugshots/mock_mugshot2.jpg' %>
      </div>
      <div class="description">
        <span class="name">Mette Hummel</span>
        <span class="title">Beisitzerin, 12e</span>
      </div>
    </li>
    <li>
      <div class="image">
        <%= image_tag 'mugshots/jan_meisberger.jpg' %>
      </div>
      <div class="description">
        <span class="name">Jan Josef Meisberger</span>
        <span class="title">Beisitzer, 8b</span>
      </div>
    </li>
    <li>
      <div class="image">
        <%= image_tag 'mugshots/mock_mugshot2.jpg' %>
      </div>
      <div class="description">
        <span class="name">Kristina Busecke</span>
        <span class="title">Kassenwart, 10b</span>
      </div>
    </li>
    <li>
      <div class="image">
        <%= image_tag 'mugshots/mock_mugshot2.jpg' %>
      </div>
      <div class="description">
        <span class="name">Lientje Voigt</span>
        <span class="title">Beauftragte für Leistungssport, 11a1</span>
      </div>
    </li>
    <li>
      <div class="image">
        <%= image_tag 'mugshots/mock_mugshot2.jpg' %>
      </div>
      <div class="description">
        <span class="name">Elias Westpahl</span>
        <span class="title">Beauftragter für die Elektronacht, 12b</span>
      </div>
    </li>
  </ul>

</section>
