<h1>Impressum</h1>

<div>
  <p>
    Schülervertretung am CJD Rostock <br>
    Groß Schwaßer Weg 11 <br>
    18055 Rostock
  </p>

  <h2>Kontakt</h2>
  <p>Email an <a href="mailto:hallo.sv-rostock@cjd-nord.de">hallo.sv-rostock@cjd-nord.de</a></p>
</div>
