---
---

<div class="hero">
  <div class="hero-center">
    <h1>Schülervertretung am CJD Rostock</h1>
    <%= link_to 'Das sind wir', 'about.html' %>
  </div>
</div>

<div class="secondary-cards">
  <div class="infos center-wrapper" onclick="javascript:location.href='<%= url_for "infos.html" %>'">
    <span class="center">Infos</span>
  </div>

  <div class="blog center-wrapper" onclick="javascript:location.href='<%= url_for "blog/index.html" %>'">
    <span class="center">Blog</span>
  </div>
</div>
