<h1>Informationen</h1>


<p>
    Hier findet ihr Links zu wichtigen Informationen, sowohl von uns als auch z. B. von der Schulleitung oder dem Schulelternrat, wenn wir diese finden oder sie veröffentlicht werden.
</p>

<h2>
    Dokumente der SV
</h2>

<ul>
    <li>
        <%= link_to 'Satzung', 'https://public.3.basecamp.com/p/9VzJ8j2KGAQSrf6ALMnXQfRq' %>
    </li>
    <li>
        <%= link_to 'Beschlüsse und Protokolle', './dokumente/beschluesse-und-protokolle' %>
    </li>
    <li>
        <%= link_to 'Rundbrief vom 10. Januar 2017', './dokumente/rundbriefe/Neujahresbrief.pdf' %>
    </li>
    <li>
        <%= link_to 'Das Moodle unserer Schule', '/infos/moodle.html'%>
    </li>
    <li>
        <%= link_to 'Infos zu WebUntis', '/infos/webuntis.html' %>
    </li>
</ul>

<h2>Externe Dokumente</h2>

<ul>
    <li>
        <%= link_to "Disziplinarordnung", "./dokumente/allgemein/DisziplinarordnungCJDRostock.pdf"%>
    </li>
    <li>
        <%= link_to "Hausordnung", "./dokumente/allgemein/Hausordnung-Gymnasium_CJDRostock.pdf"%>
    </li>
    <li>
        <%= link_to "Oberstufensatzung", "./dokumente/allgemein/OberstufensatzungdesCJD.pdf"%>
    </li>
    <li>
        <%= link_to "Umgang mit Mobilcomputern (Handy-Ordnung) ab dem Schuljahr 2017/18", "./dokumente/allgemein/Handyordnung.pdf"%>
    </li>
    <li>
        <a target="_blank" href="http://www.cjd-rostock.de/fileadmin/assets/rostock/Dokumente_allg/Organigramm_Dienststelle_SB_Gym_16.03.16__1_.pdf">Aktuelles Organigramm</a>
    </li>
</ul>

<h2>Klausurpläne</h2>
<i>Stand: 5. Oktober 2017. Wir danken Hr. Hesse für die Bereitstellung der Pläne.</i>

<ul>
  <li>
    <%= link_to "Klasurplan Klassen 11 und 12", "https://public.3.basecamp.com/p/HXVzTZe4sv9sphdro9Q5NXkz"%>
    (<%= link_to "Excel-Version", "https://public.3.basecamp.com/p/YcAzwMuwNvV6dnedNeJa5qHe"%>)
  </li>
  <li>
    <%= link_to "Klasurplan Klasse 10", "https://public.3.basecamp.com/p/XCLVDZCVeHWLhk4WHH4gdawp"%>
    (<%= link_to "Excel-Version", "https://public.3.basecamp.com/p/PdNMxdprgmMavcm26ZbrhWE3"%>)
  </li>
</ul>
