<h1>Kontakt</h1>

<h2>Briefkasten</h2>
Ihr könnt uns gerne einen Brief in unseren Briefkasten vorm Lehrerzimmer in Haus 1 werfen.

<h2>Email</h2>
<h3>An die Schülervertretung</h3>
<a href="mailto:hallo.sv-rostock@cjd-nord.de">hallo.sv-rostock@cjd-nord.de</a>
<h3>An einzelne Vertreter</h3>
Einige von uns haben eigene Emailadressen. Diese sind bei <%= link_to 'Über uns', '/about.html' %> zu finden.
